{% extends "includes/layout.njk" %}

{% block content %}
    <h1>Hello World!</h1>

    <ul>
        <li>
            <a href="/add">Add new user</a>
        </li>
        <li>
            <a href="/list">View users</a>
        </li>
    </ul>

{% endblock %}